
main{
    border: 0px solid red;
    height: 100vh;
}

.palito{
    border: 0px solid black;
    width: 20px;
    height: 180px;
    margin: 0px auto;
    background-color: black;
}

.caja-luces{
    border: 0px solid black;
    width: 180px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    background-color: black;

}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;

}

.green{
    background-color: green;
}

.caja-luces div {
    border: 1px solid black;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 10px;
    }

    .light-on {
        box-shadow: 0px 0px 50px 20px rgb(219, 241, 190 );

    }